body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motherDiv {
    display: flex;
    justify-content: center;
    width :500px;
    height:500px;
    margin-top: -5rem;
}

.circle {
    width:200px;
    height:200px;
    border:2px solid black;
}
#cirR {
    background-color: red;
    border-radius: 100px;
    margin-top: 20vh;
}

#cirG {
    background-color: green;
    border-radius: 100px;
    position:relative;
    right:30%;
    top:50%;
    overflow: hidden;
}

#cirB {
    background-color: rgb(7, 57, 255);
    border-radius: 100px;
    position:relative;
    left:30%;
    bottom:52%;
    overflow: hidden;
}

#gR {
    background-color: rgb(255, 247, 4);
    border-radius: 100px;
    position:relative;
    bottom:52%;
    left:28%;
}

#bR {
    background-color: purple;
    border-radius: 100px;
    position: absolute;
    bottom:50%;
    right:30%;
}

#bG {
    background-color: lightblue;
    border-radius: 100px;
    position:absolute;
    top:-2px;
    right:59%;
    overflow: hidden;
}

#bgr {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    position:absolute;
    bottom:50%;
    left:28%;
}

.btn {
    border-radius: 15px;
    padding: 13px 23px;
    background-color: rgb(36, 35, 42);
    color: rgb(224, 223, 216);
    border:0.5px solid rgb(36, 35, 42);
    position: relative;
    transition: all 0.2s;
    font-family: 'Audiowide', cursive;
}

.btn:hover {
    box-shadow: 0 0 10px 1px rgb(255, 255, 255);
    border-color: white;

}

nav {
    width:100%;
    font-family: 'Audiowide', cursive;
}
h1 {
    margin-left: 2rem;
    margin-top: 2rem;
}














/* .box {
    width: 200px;
    height: 200px;
    background: red;
    position: relative;
    top: 40px;
}
.shape {
    width: 250px;
    height: 250px;
    background: navy;
    border-radius: 50%;
    position: absolute;
    left: 75px;
    top: 50px;
    overflow: hidden;
}

#top-left {
    width: 150px;
    height: 150px;
    background: purple;
    position: relative;
    left: -25px; 
}  */